<div class="page-wrap">
	{{#if session.isAuthenticated}}

	<div class="top-bar">
		{{#link-to 'index' class="top-bar__logo"}} {{fa-icon "search"}} {{/link-to}}
		<ul class="top-bar__list">

			{{#if (can 'view admin')}}
			<li {{bind-attr class="isAdmin:active"}} >
				{{#link-to 'admin.users.index'}} 
					{{fa-icon "wrench"}}
					<span>Administración</span>
				{{/link-to}}
			</li>
			{{/if}}

			{{#if (can 'view data-entry')}}
			<li {{bind-attr class="isDataEntry:active"}} >
				{{#link-to 'data-entry.elections.countries.index'}} 
					{{fa-icon "user-plus"}}
					<span>Manejo de datos</span>
				{{/link-to}}
			</li>
			{{/if}}

			<li>
				<a {{ action 'invalidateSession' }}>
					Salir {{fa-icon "sign-out"}}
				</a>
			</li>

		</ul>
	</div>

	<div {{bind-attr class=":menu-wrap"}}> 
		<div class="menu-nav fa-ul">
			{{#if session.isAuthenticated}}
				{{#if isAdmin}}
					<ul>
					{{#if (can 'view admin')}}
						<li>
							{{#link-to 'admin.users.index'}} {{fa-icon "user"}} <span>Usuarios</span> {{/link-to}}
						</li>
						<li>
							{{#link-to 'admin.roles.index'}} {{fa-icon "sliders"}} <span>Roles</span> {{/link-to}}
						</li>
					{{/if}}	
					</ul>				
				{{/if}}	
				{{#if isDataEntry}}
					{{#simple-accordion title="Datos"  tagName="ul"}}
					{{/simple-accordion}}

					{{#simple-accordion title="Elecciones" tagName="ul"}}

					{{/simple-accordion}}
				{{/if}}		
			{{/if}}
		</div>
	</div><!-- main-nav-wrap -->

	{{else}}

	<div class="welcome">
		<h1>
		{{#link-to 'login' class="btn btn-default"}}
			Consulta de afiliados
		{{/link-to}}
		
	</h1>
	</div>

{{/if}}



	<div {{bind-attr class=":content"}}>
		{{outlet}}
	</div>

</div>
