{{#if session.isAuthenticated}}
	<nav {{bind-attr class=":change-app-container isShowApps:is-visible"}}>
		<ul>
			<li {{bind-attr class="isHome:active"}}>
				{{#link-to 'index'}} 
					{{fa-icon "home"}}
					<span>Inicio</span>
				{{/link-to}}
			</li>		

			{{#if (can 'view admin')}}
			<li {{bind-attr class="isAdmin:active"}} >
				{{#link-to 'admin.users.index'}} 
					{{fa-icon "wrench"}}
					<span>Administración</span>
				{{/link-to}}
			</li>
			{{/if}}
			{{#if (can 'view data-entry')}}
			<li {{bind-attr class="isDataEntry:active"}} >
				{{#link-to 'data-entry.elections.countries.index'}} 
					{{fa-icon "user-plus"}}
					<span>Manejo de datos</span>
				{{/link-to}}
			</li>
			{{/if}}
		</ul>
	</nav> <!-- .change-app-container -->

	<header {{bind-attr class="isShowApps:is-visible isHome:-home isDataEntry:-admin isAdmin:-admin"}}>
		{{#if isAdmin}}
			<button class="logo" {{action 'toggleApps' target="view"}}>
				<img src="assets/images/observatorio-logo.svg">
			</button>
			<h3>Administración</h3>
			<button {{bind-attr class=":menu-button :cbutton :cbutton--effect-nikola isShowClick:cbutton--click"}} {{action 'toggleMenu' target="view"}}>
				{{fa-icon "bars"}}
			</button>
		{{/if}}

		{{#if isShowApps}}
			<a class="log-out" {{ action 'invalidateSession' }}>
				<span>Cerrar sesión</span> {{fa-icon "sign-out"}}
			</a>
		{{/if}}	

		{{#if isDataEntry}}
			<button class="logo" {{action 'toggleApps' target="view"}}>
				<img src="assets/images/observatorio-logo.svg">
			</button>
			<h3>Manejo de datos</h3>
			<button {{bind-attr class=":menu-button :cbutton :cbutton--effect-nikola isShowClick:cbutton--click"}} {{action 'toggleMenu' target="view"}}>
				{{fa-icon "bars"}}
			</button>
		{{/if}}
	</header>

	<div {{bind-attr class=":menu-wrap isShowMenu:show isData:-data isHome:-home isDataEntry:-admin isRed:-red isCalendar:-calendar isAdmin:-admin"}}> 
		<div class="menu-nav fa-ul">
			{{#if session.isAuthenticated}}
				{{#if isAdmin}}
					<ul>
					{{#if (can 'view admin')}}
						<li>
							{{#link-to 'admin.users.index'}} {{fa-icon "user"}} <span>Usuarios</span> {{/link-to}}
						</li>
						<li>
							{{#link-to 'admin.roles.index'}} {{fa-icon "sliders"}} <span>Roles</span> {{/link-to}}
						</li>
					{{/if}}	
					</ul>				
				{{/if}}	
				{{#if isDataEntry}}
					{{#simple-accordion title="Datos"  tagName="ul"}}
					{{/simple-accordion}}

					{{#simple-accordion title="Elecciones" tagName="ul"}}

					{{/simple-accordion}}
				{{/if}}		
			{{/if}}
		</div>

		<ul class="menu-bottom">
			<li>
				<a {{ action 'invalidateSession' }}>
					Salir {{fa-icon "sign-out"}}
				</a>
			</li>
		</ul>
	</div><!-- main-nav-wrap -->

	{{else}}

	<header {{bind-attr class=":welcome isHome:-home isDataEntry:-admin isAdmin:-admin"}}>
		<div class="container-header">
			<div class="logo-home">
				{{#link-to 'index'}}
					<img src="assets/images/logo-oblat.svg">
				{{/link-to}}
			</div>

			<nav>
				<ul>
				</ul>
			</nav>
		</div>
	</header>
{{/if}}



<div {{bind-attr class=":content isHome:-home isShowMenu:show isShowApps:is-visible isDataEntry:-admin isAdmin:-admin"}}>
</div>
{{outlet}}


