{{#if session.isAuthenticated}}
	<div class="nav-wrap">
	<ul>
		{{#each session.user.towns as |town|}}
			<li>
				{{#link-to 'towns.show' town.id}}
					{{town.name}}
				{{/link-to}}
			</li>
		{{/each}}
	</ul>
	</div>

	<div class="main-content-wrap">
		<div class="create-newbie">
			{{create-newbie}}
		</div>

		<div class="newbie-container">
			<h3>
				Últimos afiliados cargados

				<span>{{controller.meta.total}} Fichas / {{controller.meta.aprobed}} Aprobadas</span>
			</h3>
			<ul class="newbie-list">
			{{#each model.newbies as |newby|}}
				{{#if newby.voter.matricula}}
					<li> 
						<div class="edit">
							{{#link-to 'newests.edit' newby}}
								{{fa-icon 'pencil'}}
							{{/link-to}}
						</div>
						<div class="content">
							
							<div class="header">{{newby.voter.nombre}} {{newby.voter.apellido}} - {{newby.voter.matricula}}</div>
						</div>
						<div class="last-item">
							<div class="badge afiliado-{{newby.voter.afiliado}}">&nbsp;</div>
							<div class="badge badge-notice">{{newby.voter.seccion}}</div>
						</div>
					</li>
				{{else}}
					<li class="fullfilled" >
						<div class="content">
							<span>&nbsp;</span>
						</div>
					</li>
				{{/if}}
			{{/each}}
			</ul>
			
			<ul class="pagination">
				<li class="button"><a href="#0">{{fa-icon 'long-arrow-left'}} Anterior</a></li>
				<li class="button"><a href="#0">Siguiente {{fa-icon 'long-arrow-right'}}</a></li>
			</ul>
			
		</div>

	</div>
{{/if}}
